*{
    margin: 0%;
    padding: 0%;
}
 body{
    overflow: hidden;
}
.boc{
   display: grid;
   grid-template-columns: 1200px;
   grid-template-rows: 500px;
   color: white;
   position: relative;
   bottom: 576px;
   left: 100px;
}
.header{
    border: 2px solid rgb(63,3,36);
    background: rgb(63,3,36);
    background: linear-gradient(90deg, rgba(63,3,36,1) 35%, rgba(63,3,36,1) 44%, rgba(31,3,63,1) 100%);
    border-radius: 20px;
    height: 620px;
    z-index: -1;
}
.head{
    background: linear-gradient( #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   animation: a 3s linear 0s 1 normal;
}
.sub{
    background: linear-gradient( #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   animation: a 3s linear 0s 1 normal;
}
 .ant{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 600px;
    left: 200px;
    word-spacing: 70px;
}
.heading{
    z-index: 36;
}
.title{
    color: #eeff41;
    text-decoration: underline;
    position: relative;
    bottom: 590px;
    left: 600px;
}